<!DOCTYPE html lang='en'>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Enrico Benedettini</title>
        <link rel="stylesheet" href="style.css">
        <script src="https://kit.fontawesome.com/bf2ddcdbf0.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <%- include('navbar') -%>
        <%- include('header') -%>

        <%- include('sections/home') -%>
        <%- include('sections/about-me') -%>
        <%- include('sections/education') -%>
        <%- include('sections/skills') -%>
        <%- include('sections/projects') -%>
        <%- include('sections/experience') -%>
        <%- include('sections/utilities') -%>
        <%- include('sections/contact') -%>

    </body>
    <script src="index.js"></script>
</html>
